/vendor/
/node_modules/
/.env
/.env.local
/.phpunit.result.cache
/storage/app/public/
/storage/debugbar/
/storage/framework/cache/data/
/storage/framework/sessions/
/storage/framework/views/
/storage/logs/
Homestead.json
Homestead.yaml
.DS_Store
Thumbs.db
npm-debug.log
yarn-error.log
/frontend/dist/
/frontend/.env
/public/hot
/public/storage
